<html> <head>
<title>ACP Controle Times Display</title>
    </head>
    <body>
        {% for item in items %}

<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
    {{ item.distance }}
   
  </div> 

  <div class="col-md-6">
    <label>Begins at</label>
    {{ item.begin_date }} 
    {{ item.begin_time }}
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->
  {% endfor %}
  <br />  
<table class="control_time_table">
      <tr>
        <th> Miles </th>
        <th> Km </th>
        <th>Location</th>
        <th>Open</th>
        <th>Close</th>
        <th>Notes</th>
      </tr>
   {% for controle in controles %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td> {{ controle.miles }}</td>
      <!-- Dist (km) -->
      <td> {{ controle.km }}</td>
      <!-- Location (optional) -->
      <td> {{ controle.location }}</td>
      <!-- Open time (read only, set by JavaScript function -->
      <td> {{ controle.open }}</td>
      <!-- Close time (read only, set by JavaScript function -->
      <td> {{ controle.close }}</td>
      <!-- Notes (error messages for this row) -->
      <td> {{ controle.notes }}</td>
    </tr>
    {% endfor %}
  </table>
  {{ message }}
    </body>
</html>
